	
		*{
			margin: 0 ;			/*外间距*/
			padding: 0 ;	    /*内间距*/
		}
		
		body{
			
			font-family: "微软雅黑";				
		}
		
		a{
			
			text-decoration: none;			
		}	
		
		h1{
			text-align: center;
			background: pink;			
			color: red;
		}	
		
		#a01{
			display: inline-block;	
			color: white;
		}
			
		#ul01{
			background-color: black;
			height: 50px;
			text-align: center;
			color: darkgray;
		}
		#ul01 li{
			list-style: none;
			float: left;
			width: 100px;
			line-height: 50px;			
				
		}
	
		#ul01 li a:hover{
			box-shadow: 0 0 10px white;
			height: 35px;
			width: 50px;
			line-height: 35px;
			background-color: cornflowerblue;
			border-radius: 10px;
			transform: scale(1.5);
			transition: 1s;
			
		}
		#ul01 li:hover{
			background-color: deepskyblue;
			color: white
			/*border-radius: 20px;*/
		}		
			
		#p1{				
			width: 400px;
			height: auto;
		
		}
			.div1{

				 color:black;
				 margin:0 auto;		
				 width: 400px;		
			}
			.div2{
				 background-color:black;
				 color:white;
				 margin:0 auto;				
			}
			.cc{
				text-align: center;
			}
			
