
	#form01 input{
	
		border: none;
		
	
	
	
	}
	#form div{
	
		
	
	
	}
	#table01{


		border-collapse:collapse;
		border:1px solid ;

		width:150px;
		text-align: center;

	
	}
	#table01 td{
/*		vertical-align:text-top;*/
		padding:10px 2px ;
		/*border:1px solid black;*/

		
		
	}
