<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script type="text/javascript" src="../js/jquery-3.3.1.min.js" ></script>
		<script type="text/javascript" src="../js/vue.js" ></script>
		<!--<script type="text/javascript" src="../js/vue.js" ></script>-->
	</head>
	<body>
		
		<div id="app">
			<input type="text" name="input" v-on:blur="fun1" v-model="username"/>
			<p><input type="text" /></p>
			<p><button type="button"  >key</button></p>
		</div>
		
		
		<!--<div id="app-5">
		  <p>{{ message }}</p>
		  <button v-on:click="reverseMessage">逆转消息</button>
		</div>-->

	
		<!--<div id="app">
		  <ol>
		  	 <li v-for="todo in todos">
		      {{ todo.text }}
		    </li>
		  </ol>
		</div>-->
		
		<!--<div id="app">
		  <span v-bind:title="message">
		   bbb
		  </span>
		</div>-->
		
		
	</body>
	<script type="text/javascript" src="../js/myvue.js" ></script>
</html>
