<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script type="text/javascript" src="../js/jquery-3.3.1.min.js" ></script>
		<script type="text/javascript" src="../js/vue.js" ></script>
		<link rel="stylesheet" href="../css/default-page.730e87c675e8572fd03d8015bf21104e.css" />
		<link rel="stylesheet" href="../css/temp/common.747aeea894ecd3367025f8a68a315391.css" />
		<link rel="stylesheet" href="../css/temp/banner-rotator.entry.5a265ecbeeafbae44f8b2b01811faea0.css" />
		<!--<script type="text/javascript" src="../js/vue.js" ></script>-->
	</head>
	<body>
		
		
		
		
		
		
		
		
		<ul class="footer__list _social">
                                <li class="footer__list-item">
                                    <a class="social-link" href="https://www.facebook.com/JetBrains" title="JetBrains on Facebook">
                                      <svg class="sprite-img _facebook  _gray-light social-link__icon _front " xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="#facebook"></use></svg>
                                      <svg class="sprite-img _facebook  social-link__icon _back " xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="#facebook"></use></svg>
                                    </a>
                                </li>
                                <li class="footer__list-item">
                                    <a class="social-link" href="https://plus.google.com/+jetbrains" title="JetBrains on Google+">
                                      <svg class="sprite-img _google-plus  _gray-light social-link__icon _front " xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="#google-plus"></use></svg>
                                      <svg class="sprite-img _google-plus  social-link__icon _back " xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="#google-plus"></use></svg>
                                    </a>
                                </li>
                                <li class="footer__list-item">
                                    <a class="social-link" href="https://www.linkedin.com/company/jetbrains" title="JetBrains on LinkedIn">
                                      <svg class="sprite-img _linkedin-outline  _gray-light social-link__icon _front " xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="#linkedin-outline"></use></svg>
                                      <svg class="sprite-img _linkedin-outline  social-link__icon _back " xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="#linkedin-outline"></use></svg>
                                    </a>
                                </li>
                                <li class="footer__list-item">
                                    <a class="social-link" href="https://twitter.com/jetbrains" title="JetBrains on Twitter">
                                      <svg class="sprite-img _twitter  _gray-light social-link__icon _front " xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="#twitter"></use></svg>
                                      <svg class="sprite-img _twitter  social-link__icon _back " xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="#twitter"></use></svg>
                                    </a>
                                </li>
                                <li class="footer__list-item">
                                    <a class="social-link" href="https://www.youtube.com/user/JetBrainsTV" title="JetBrains on YouTube">
                                      <svg class="sprite-img _youtube-icon  _gray-light social-link__icon _front " xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="#youtube-icon"></use></svg>
                                      <svg class="sprite-img _youtube-icon  social-link__icon _back " xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="#youtube-icon"></use></svg>
                                    </a>
                                </li>
                                <li class="footer__list-item footer__weibo _visible">
                                    <a class="social-link" href="https://www.weibo.com/3220313942/profile?topnav=1&amp;wvr=5">
                                      <svg class="sprite-img _weibo-gray-light  social-link__icon _front " xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="#weibo-gray-light"></use></svg>
                                      <svg class="sprite-img _weibo  social-link__icon _back " xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="#weibo"></use></svg>
                                    </a>
                                </li>
                                <li class="footer__list-item">
                                    <a class="social-link" href="https://blog.jetbrains.com?fromFooter" title="JetBrains Blog">
                                      <svg class="sprite-img _rss  _gray-light social-link__icon _front " xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="#rss"></use></svg>
                                      <svg class="sprite-img _rss  social-link__icon _back " xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="#rss"></use></svg>
                                    </a>
                                </li>
                            </ul>
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		<!--<div id="app">
			<input type="text" name="input" v-on:blur="fun1" v-model="username" />
			<p type="text" >{{message}}</p>
			
			<p><button type="button"  >key</button></p>
			
			
		</div>-->
		
		
		<!--<div id="app-5">
		  <p>{{ message }}</p>
		  <button v-on:click="reverseMessage">逆转消息</button>
		</div>-->

	
		<!--<div id="app">
		  <ol>
		  	 <li v-for="todo in todos">
		      {{ todo.text }}
		    </li>
		  </ol>
		</div>-->
		
		<!--<div id="app">
		  <span v-bind:title="message">
		   bbb
		  </span>
		</div>-->
		
		
	</body>
	<script type="text/javascript" src="../js/myvue.js" ></script>
</html>
