<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Login</title>
		<script type="text/javascript" src="js/jquery-3.3.1.min.js" ></script>
		<script type="text/javascript" src="js/vue.js" ></script>
		<link rel="stylesheet" type="text/css" href="css/login.css" />

	</head>
	<body>
		
		<div>
			
			
			<div id="dhead">
				<a href="sign-up.html">
					<div id="sign">Sign up >></div>
				</a>
				
				<div style="height: 79px;"></div>			
				<hr />
				<div style="clear: both;"></div>
			</div>

			<div id="dbody">
				<div id="dbody-skin">
					<div id="dbody-inside">
						<br />
						<h2 style="text-align: center;">Login</h3>
						<!--<div class="input-img"></div>-->
						
						<div class="input-text" id="app1">
							<input type="text" name="name" placeholder="Name" v-on:blur="fun1" v-model="username"/>
							<span  type="text" >{{message}}</span>
							
						</div>
						
						<div class="input-text" id="app2">
							<input type="password" name="name" placeholder="Password" v-on:blur="fun2" v-model="password"/>
							<span  type="text" >{{message}}</span>
						</div>
						
						<br />
						<input type="checkbox"  name="agree"/>
						<label>&nbsp;Agree</label>
						
						<a href="#">
							<label id="input-checkbox">forgot my password>></label>
						</a>
											
						<div class="input-but" id="app3">
							<input  id="input-but" type="button" value="Login"  name="submit" v-on:click="fun3"/>
						</div>
					</div>		
				</div>
			</div>
					
			<div id="dfoot">
				<address>Power by Logic</address>
			</div>

		</div>
		
	</body>
			<script type="text/javascript" src="js/login.js" ></script>
</html>
