	
	#tab-sign{
		/*border: 1px solid black;*/
		height: 250px;
		width: 50%;
		margin: 0 auto;
	}
	#tab-sign tr{

		height: 40px;
	}	
	#tab-sign input{
		border: 1px solid gainsboro;
		width: 311px;
		height: 24px;
		padding: 10px;
		border-radius: 5px;		
	}
	#tab-sign span{
		font-size: 15px;
		color: brown;
	}
	#tab-sign input:hover{
		border: 1px solid #8EE5FF;
	}
	.tab-but{
		background-color: #166BBC;
		/*width: 347.5px;
		height: 45px;	*/
		margin: 0 auto;	
		margin-top: 50px;
	}
	#input-but{
		border: none;
		background-color: #00A0D8;
		color: white;
		font-size: 18px;
		width: 30%;
		height:50px;
		position: absolute;
		right: 40%;
		border-radius: 5px;	
	}
	#input-but:hover{
		background-color: #00B4D8;
	}
			
